@import './base/_header.less';
@import './base/_footer.less';
@import './content/_home_page_content.less';
@font: Poppins;
@bold: 600;
@header-title-font-size: 60px;
@header-menu-font-size: 16px;
@text-size: 14px;
@gray: #777777;
@red: #dd2f31;
@white: #ffffff;
@black: #000000;
@header-bar-bg: rgba(0,0,0,0.5);
@menu-mb-bg: rgba(0,0,0,0.9);
@shadow: rgba(0,0,0,0.1);
@border: #dddddd;
@carousel-indicators-bg: #cccccc;
@footer-bg: #222222;
@footer-line: #444444;
@copyright-bg: #111111;

/*  */
body {
    font-family: @font;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1200px;
}
span {
    color: @gray;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.carousel-indicators {
    bottom: -74px;
    .active {
        background-color: @red;
    }
}
@media all and(max-width: 396px){
    .carousel-indicators {
        bottom: -50px;
    }
}
a:hover {
    text-decoration: none;
}