/* Header */
.header {
    min-height: 950px;
    background-image: url('../images/468886-PFZ4PE-862.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0 right 25%;
    &__bar {
        //width: 100%;
        background-color: @header-bar-bg;
    }
    &__top {
        height: 100px;
    }
    &__content {
        margin-top: 201px;
        //max-width: 530px;
        &-col {
            padding-right: 35px;
        }
        &-title {
            color: @white;
            font-size: @header-title-font-size;
            font-weight: @bold;
            margin-left: -2px;
            margin-top: 1px;
        }
        &-desc {
            color: @white;
            font-size: 14px;
            margin-top: 18px;
            line-height: 24px;
            padding-right: 15px;
        }
    }
}

.menu {
    padding: 0 3px;
    &__list {
        width: 100%;
    }
    &__item {
        margin-right: 52px;
        &-link {
            font-size: @header-menu-font-size;
            color: @white;
        }
    }
}
.title--small {
    font-size: 40px;
}
.btn {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid @white;
    outline: none;
    padding: 14px 46px;
    text-align: center;
    color: @white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 38px;
    border-radius: 0;
    &:hover {
        color: @white;
    }
}

.header-icon {
    color:@white;
}
.header__icon i:first-of-type {
    margin-left: 14px;
}
@media screen and (max-width: 991px) {
    .menu {
        margin-left: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background-color: @menu-mb-bg;
        max-width: 300px;
        -webkit-transition: -webkit-transform 0.25s linear;
        transition: -webkit-transform 0.25s linear;
        -o-transition: transform 0.25s linear;
        transition: transform 0.25s linear;
        transition: transform 0.25s linear, -webkit-transform 0.25s linear;        will-change: transform;
        .transform-translateX(100%);
        &__list {
            flex-direction: column;
            }
        &__item {
            margin: 0;
            width: 100%;
            border-bottom: 1px solid @border;
            display: block;
            padding: 15px;
        }
        &__close {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10;
            cursor: pointer;
            font-size: 14px;
            display: block;
            color: @white;
        }
        &__open {
            .transform-translateX(0);
        }
    }
    .transform-translateX (@_x) {
        -webkit-transform: translateX(@_x);
        -moz-transform: translateX(@_x);
        -ms-transform: translateX(@_x);
        -o-transform: translateX(@_x);
        transform: translateX(@_x);
    }

  }